<template>
    <div class="mt-lg-5 w-25 mx-auto">
        <input
              v-model="title"
              type="text"
              class="form-control mb-3"
              placeholder="title"
        >
        <div
              ref="dropzone"
              class=" mb-3 btn d-block p-5 bg-dark text-center text-light"
        >
            Upload
        </div>
        <input
              @click.prevent="store"
              value="Добавить"
              type="button"
              class="btn btn-outline-success"
        >

        <div class="m-5 mx-auto">
            <div
                  v-if="post"
                  class="mb-3"
            >
                <h4>{{ post.title }}</h4>
                <div v-for="image in post.images">
                    <img class="mb-3"
                          :src="image.preview_url"
                          alt=""
                    />
                    <img
                          :src="image.url"
                          alt=""
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Dropzone from 'dropzone';

export default {
    name: "Roott",

    data() {
        return {
            dropzone: null,
            title   : null,
            post    : null,
        }
    },

    mounted() {
        this.dropzone = new Dropzone(this.$refs.dropzone, {
            url             : '/api/posts',
            autoProcessQueue: false,
        });

        this.getPost();

    },//mounted

    methods: {
        store() {
            const data  = new FormData();
            const files = this.dropzone.getAcceptedFiles();
            files.forEach(file => {
                data.append('images[]', file);
                this.dropzone.removeFile(file);
            });
            data.append('title', this.title);
            this.title = '';
            axios.post('/api/posts', data).then(response => {
                this.getPost();
            })

        },//store

        getPost() {
            axios.get('/api/posts').then(response => {
                this.post = response.data.data;
            })
        },//getPosts
    },//methods
}
</script>

<style scoped>

</style>